<section class="advant-section">
    <div class="advant-conteiner">
       <h2 class="visually-hidden">advantages</h2>
       <ol class="advant-list">
           <li class="advant-list-item decor">
               <p class="advant-paragraph ">Swimming and water sports: try your hand at water skiing</p>
           </li>
           <li class="advant-list-item decor">
               <p class="advant-paragraph ">Fishing: try to catch your own dinner</p>
           </li>
           <li class="advant-list-item decor">
               <p class="advant-paragraph ">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
           </li>
           <li class="advant-list-item decor">
               <p class="advant-paragraph ">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
           </li>
       </ol>
   
    <!-- <picture> -->
    <img class="advent-photo" src="../img/mob/rent-a-yacht@1x.png" alt="portfolio picture" />
        <!-- <source srcset="
                          ./src/img/desktop/rent-a-yacht@1x.png   1x,
                          ./src/img/desktop/rent-a-yacht@2x.png 2x
                        " media="(min-width: 1280px)" />
    <source srcset="
                          ./images/retina/portfolio/img-bank-app-tab@1x-min.jpg 1x,
                          ./images/retina/portfolio/img-bank-app-tab@2x-min.jpg 2x
                        " media="(min-width: 768px)" />
    <source srcset="
                          ./images/retina/portfolio/bank-app-mobile@1x.jpg 1x,
                          ./images/retina/portfolio/bank-app-mobile@2x.jpg 2x
                        " media="(max-width: 767px)" /> -->
    <!-- </picture> -->
</div>
</section>