<header class="hed is-open">
  <div class=" hed-container-page hed-container">
      <nav class="hed-nav">
          <span class="hed-logo-logo">
              <a class="hed-logo retreat" href="">
                  yachtjet
              </a>
          </span>
          <ul class="hed-list">
              <li class="hed-list-nav">
                  <a class="hed-list-nav-a">About</a>
              </li>
              <li class="hed-list-nav">
                  <a class="hed-list-nav-a">Yachts</a>
              </li>
              <li class="hed-list-nav">
                  <a class="hed-list-nav-a">Reviews</a>
              </li>
          </ul>
          <div class="hed-svg retreat">
              <svg class="hed-svg-network" width="24" height="24" aria-label="istagram">
                  <use class="hed-svg-network-svg" href="../img/sprayt.svg#icon-instagram.svg"></use>
              </svg>
              <svg class="hed-svg-network" width="24" height="24">
                  <use href="../img/sprayt.svg#icon-youtube.svg"></use>
              </svg>
              <svg class="hed-svg-network" width="24" height="24">
                  <use href="../img/sprayt.svg#icon-facebook.svg"></use>
              </svg>
          </div>
      
      <button class="section-burger js-open-menu" type="button">
          <svg class="svg-berger-svg" width="28" height="28" aria-label="burger">
              <use href="../img/symbol-defs.svg#icon-burger"></use>
          </svg>
      </button>
  </nav>
  </div>
</header>
