<div class="mobile-menu-contact is-open">
    <div class="container mobile-menu-container">
        <button class="bacgdrop-modele-svg" type="button">
            <svg class="bacgdrop-modele-svg-close" width="8" height="8" aria-label="icons-close">
                <use href="./images/icons.svg#icon-Vector-1"></use>
            </svg>
        </button>
        <nav class="navigation-mobile">
            <ul class="mobile-menu">
                <li class="mobile-menu-li list link">
                    <a class="mobile-menu-studio-li-a" href="">Studio</a>
                </li>
                <li class="mobile-menu-li list link">
                    <a class="mobile-menu-li-a" href="">Portfolio</a>
                </li>
                <li class="mobile-menu-li list link">
                    <a class="mobile-menu-li-a" href="">Contacts</a>
                </li>
            </ul>
        </nav>
        <div class="mobile-box">
            <ul class="mobile-menu-adres">
                <li class="mobile-menu-adres-li link">
                    <a class="mobile-menu-adres-email-link li" href="mailto:info@devstudio.com">info@devstudio.com</a>
                </li>
                <li class="mobile-menu-adres-li link">
                    <a class="mobile-menu-adres-link " href="+11 (000) 111-11-11">+11 (000) 111-11-11</a>
                </li>
            </ul>
            <div class="mobile-menu-icons-link">
                <ul class="svg-footer">
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="24" height="24" aria-label="instagram">
                                <use href="./images/icons.svg#icon-instagram_2">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="24" height="24">
                                <use href="./images/icons.svg#icon-twitter_1" aria-label="twitter">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="24" height="24">
                                <use href="./images/icons.svg#icon-facebook_1" aria-label=" facebook">
                                </use>
                            </svg>
                        </a>
                    </li>
                    <li class="svg-footer-ul link">
                        <a class="a-footer-svg" href="">
                            <svg class="social-network" width="24" height="24" aria-label="linkedin">
                                <use href="./images/icons.svg#icon-linkedin_1">
                                </use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>