<section class="section-our-yachts">
  <div class="our-yachts-container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="cont">
      <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="../images/ 1x, ./images/ 2x"
            media="(min-width: 1280px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(max-width: 767px)"
          />
          <img class="our-yachts-item-foto" src="./im" alt="Arrow" />
        </picture>
        <div class="our-yachts-wrapper">
          <ul class="our-yachts-wrapper-list">
            <li class="our-yachts-wrapper-item">
              <span class="our-yachts-wrapper-item-name">Arrow</span>
            </li>
            <li class="our-yachts-wrapper-item">
              <span class="our-yachts-wrapper-item-name">luxury yachts</span>
            </li>
          </ul>
        </div>
        <div class="our-yachts-wrapper-item">
          <ul class="our-yachts-wrapper-description">
            <li class="our-yachts-wrapper-description-item">
              <span class="our-yachts-wrapper-item-full">length</span>
            </li>
            <li class="our-yachts-wrapper-description-item">
              <span class="our-yachts-wrapper-item-full">builder</span>
            </li>
            <li class="our-yachts-wrapper-description-item">
              <span class="our-yachts-wrapper-item-full">built</span>
            </li>
            <li class="our-yachts-wrapper-description-item">
              <span class="our-yachts-wrapper-item-full">guests</span>
            </li>
            <li class="our-yachts-wrapper-description-item">
              <span class="our-yachts-wrapper-item-full">price</span>
            </li>
          </ul>
          <ul class="our-yachts-wrapper-description2">
            <li class="our-yachts-wrapper-description-item2">
              <span class="our-yachts-wrapper-item-full2">48m(155ft)</span>
            </li>
            <li class="our-yachts-wrapper-description-item2">
              <span class="our-yachts-wrapper-item-full2">Admiral</span>
            </li>
            <li class="our-yachts-wrapper-description-item2">
              <span class="our-yachts-wrapper-item-full2">2021</span>
            </li>
            <li class="our-yachts-wrapper-description-item2">
              <span class="our-yachts-wrapper-item-full2">11 in 5 cabins</span>
            </li>
            <li class="our-yachts-wrapper-description-item2">
              <span class="our-yachts-wrapper-item-full2">€33,500,000</span>
            </li>
          </ul>
    </div>
        </div>
      </li>
      <li><img src="" alt="" /></li>
      <li><img src="" alt="" /></li>
    </ul>
  </div>
</section>
