<section class="our-yachts-section">
  <div class="our-yachts-container">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="our-yachts-list">
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="../images/ 1x, ./images/ 2x"
            media="(min-width: 1280px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(max-width: 767px)"
          />
          <img class="our-yachts-item-img" src="./im" alt="Arrow" />
        </picture>
        <div class="our-yachts-description">
          <ul class="our-yachts-description-list">
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-name">Arrow</p>
            </li>
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-luxury">luxury yachts</p>
            </li>
          </ul>
        </div>
        <div class="our-yachts-details">
          <ul class="our-yachts-details-left">
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">length</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">builder</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">built</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">guests</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">price</p>
            </li>
          </ul>
          <ul class="our-yachts-details-right">
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">48m(155ft)</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">Admiral</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">2021</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">11 in 5 cabins</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">€33,500,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="../images/ 1x, ./images/ 2x"
            media="(min-width: 1280px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(max-width: 767px)"
          />
          <img class="our-yachts-item-img" src="./im" alt="Arrow" />
        </picture>
        <div class="our-yachts-description">
          <ul class="our-yachts-description-list">
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-name name-overflow">
                benetti oasis 40m bo122
              </p>
            </li>
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-luxury">luxury yachts</p>
            </li>
          </ul>
        </div>
        <div class="our-yachts-details">
          <ul class="our-yachts-details-left">
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">length</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">shipyard</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">built</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">guests</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">price</p>
            </li>
          </ul>
          <ul class="our-yachts-details-right">
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">41m (133ft)</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">Benetti</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">2025</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">10 in 5 cabins</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">€23,210,000</p>
            </li>
          </ul>
        </div>
      </li>
      <li class="our-yachts-item">
        <picture>
          <source
            srcset="../images/ 1x, ./images/ 2x"
            media="(min-width: 1280px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(min-width: 768px)"
          />

          <source
            srcset="./images/ 1x, ./images/ 2x"
            media="(max-width: 767px)"
          />
          <img class="our-yachts-item-img" src="./im" alt="Arrow" />
        </picture>
        <div class="our-yachts-description">
          <ul class="our-yachts-description-list">
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-name">belle anna</p>
            </li>
            <li class="our-yachts-description-item">
              <p class="our-yachts-description-luxury">luxury yachts</p>
            </li>
          </ul>
        </div>
        <div class="our-yachts-details">
          <ul class="our-yachts-details-left">
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">length</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">shipyard</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">built</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">guests</p>
            </li>
            <li class="our-yachts-details-left-item">
              <p class="our-yachts-details-left-title">price</p>
            </li>
          </ul>
          <ul class="our-yachts-details-right">
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">50m(155ft)</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">ISA</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">2012</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">12 in 6 cabins</p>
            </li>
            <li class="our-yachts-details-right-item">
              <p class="our-yachts-details-right-title">€21,000,000</p>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="yacht-rental-scroll-down">
      <a class="yacht-rental-scroll-down-link" href="#yacht-rental">
        Yacht rental
      </a>
    </div>
  </div>
</section>
